
* {
    padding: 0;
    margin: 0;
}

header{
    background: transparent;
    position:fixed;
    width: 100%;
}
nav{
    background: transparent;
}
#navbarNavAltMarkup{
    
}

.nav-item {
    color: #ffffff !important;
    margin: 34px;
}

.borderDecoration {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px !important;
    padding: 6px 5px 4px 5px !important;
    text-decoration-line: none !important;
}
li{
    margin: 30px;
}
li a{
    padding-top: 10px;
}
li a:hover{
    text-decoration-line: overline;
    
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover:first-child {
    text-decoration-line: overline;
}
button.btn-registro{
    background: transparent !important;
}

/* @media */

@media (min-width: 992px) {
    .container-fluid {
        position: relative !important;
        margin: 0 100px !important;
    }
}

