<header>
    <section id="navBar">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="{{logo}}" width="150" height="100" alt="Come">
                </a>

                <ul class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <li *ngFor="let m of Menu" class="navbar-nav ml-auto">
                        <a *ngIf="m.Url!=''; else caso1" class="{{ClaseDefault}} {{m.clase}}" href="{{m.Url}}">{{m.titulo}}</a>
                        <ng-template #caso1>
                            <a *ngIf="m.datatarget==''; else caso2" class="{{ClaseDefault}} {{m.clase}}">{{m.titulo}}</a>
                            <ng-template #caso2>
                                    <button  class="{{ClaseDefault}} {{m.clase}}" data-target="#ModalReg">{{m.titulo}}</button>
                            </ng-template>
                            
                        </ng-template>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</header>
<!--Modals Registro-->
<div class="modal fade" id="ModalReg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmis="modal" aria-label="Close">&times;</button>
                <h5 class="modal-tittle">Registrarse</h5>
            </div>
        </div>

    </div>

</div>