<footer>
        <section id="footerLogo">
            <div class="row">
                <div class="col-md-2 color">
                    <img src="{{logo}}" width="50%" alt="Come" class="ml-auto mr-auto">
                </div>

                <div class="col-md-10">
                    <div class="container">
                        <div class="row">
                            <div class="container d-md-inline-flex margin-b">
                                <div class="col-md-2">
                                    <h5 class="font-weight-bold text-uppercase mb-4 colorDecoration">Come</h5>
                                    <div class="estilosCome">
                                        <a class="nav-item nav-link pressHover" href="#">Nosotros</a>
                                        <a class="nav-item nav-link pressHover" href="#">Políticas</a>
                                        <a class="nav-item nav-link pressHover" href="#">Ayuda</a>
                                        <a class="nav-item nav-link pressHover" href="#">Condiciones</a>
                                    </div>
                                </div>

                                <div class="col-md-2 ml-4">
                                    <h5 class="font-weight-bold text-uppercase mb-4 colorDecoration">Sé cocinero</h5>
                                    <div class="estilosCome">
                                        <a class="nav-item nav-link pressHover" href="#">Beneficios</a>
                                        <a class="nav-item nav-link pressHover" href="#">Empleo</a>
                                        <a class="nav-item nav-link pressHover" href="#">Condiciones</a>
                                        <a class="nav-item nav-link pressHover" href="#">Evaluación</a>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <!--<h5 class="font-weight-bold text-uppercase mb-4 colorDecoration">Sé cocinero</h5>
                                    <div class="estilosCome">
                                        <a class="nav-item nav-link" href="#">Beneficios</a>
                                        <a class="nav-item nav-link" href="#">Empleo</a>
                                        <a class="nav-item nav-link" href="#">Condiciones</a>
                                        <a class="nav-item nav-link" href="#">Evaluación</a>
                                    </div>-->
                                </div>

                                <div class="col-md-3 mt-4">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleSelect1">
                                            <option>Español</option>
                                            <option>Inglés</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="exampleSelect1">
                                            <option>PEN</option>
                                            <option>DOL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 ml-3">
                                <div class="hrSeparator centradorIcons">
                                    <div class="socialmedia">
                                        <a href="#!" title="Facebook"><i class="fa fa-facebook prefix pressHover" aria-hidden="true"></i></a>
                                        <a href="#!" title="Twitter"><i class="fa fa-twitter prefix pressHover" aria-hidden="true"></i></a>
                                        <a href="#!" title="Instagram"><i class="fa fa-instagram prefix pressHover" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>