
.navbar {
    background: transparent !important;
}

.nav-item, .colorDecoration {
    color: #ffffff !important;
}

.borderDecoration {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px !important;
}

.paddingA {
    padding: 6px 18px 6px 18px !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover:first-child {
    background-color: rgb(255, 255, 255) !important;
    color: #000000 !important;
}

/* Footer */

.color {
    background-color: #51a699;
    height: 270px;
}

.row .col-md-2 > img {
    margin-top: 15%;
    display: block;
}

.row .col-md-10 {
    background-color: #2e3336;
    background-image: url(/../../assets/img/tramas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 2em;
}

footer .nav-link {
    padding: .0em 0em !important;
}

.text-uppercase {
    font-size: 20px !important;
}

footer .form-control {
    background-color: #2e3336;
    background-image: url(/../../assets/img/tramas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #cfcfcf !important;
    border-radius: 5px !important;
    border-color: #ffffff !important;
}

.form-control:focus {
    border-color: #51a699 !important;
}

.margin-b {
    margin-bottom: 1em;
}

.hrSeparator {
    border-top: 1px solid;
    border-color: #ddddde;
}

.centradorIcons {
    text-align: center;
}

.fa {
    color: #ffffff !important;
    font-size: 1.5em !important;
}

.prefix {
    width: 46px;
    height: 46px;
    padding-top: 18px;
}

.pressHover:hover {
    color: #51a699 !important;
}

/* @media */

@media (min-width: 992px) {
    .container-fluid {
        position: relative !important;
        margin: 0 100px !important;
    }
}
@media (min-width: 992px){
.row{
    margin-right: 0px;
    margin-left: 0px;
}
}
@media (min-width: 768px){
.row {
    margin-right: 0px;
    margin-left: 0px;
}
}
@media (min-width: 992px) {
    .col-md-10 {
        width: 83.33333% !important;
    }
}