cportada{
    width: auto;
    max-height: 90vh;
 
}
div.imagen{
    background-image: url(/../../assets/img/index_background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height:100vh;
    background-size: cover;
    visibility: inherit;
}
img{
    height: 70%;
}